*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    font-size: 16px; /* Ajuste selon tes besoins */
    line-height: 1.5;
    background-color: #e8e8e8;
    font-family: "Inter";
}

/* Images et médias */
img, picture, video, canvas {
    display: block;
    max-width: 100%;
  }
  
  /* Formulaires */
  input, button, textarea, select {
    font: inherit; /* Hérite de la police et taille du parent */
    border: none; /* Optionnel : supprime les bordures */
    padding: 0;
  }
  
  /* Liens */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Tables */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin: 0;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    width: 330px;
    gap: 6px;
  }
  
  .form label {
    position: relative;
    margin: 0;
    padding: 0;
    width: 0px;
  }
  
  .form label .input {
    margin: 0;
    padding: 0;
    width: 330px;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    white-space: nowrap;
  }
  
  .form label .input:placeholder-shown + span {
    margin: 0;
    padding: 0;
    top: 15px;
    font-size: 0.9em;
  }
  
  /* Quand l'input est en focus */
.form label .input:focus + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

/* Quand l'input est valide */
.form label .input:valid + span, .form label .input:invalid{
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

/* Quand l'input est invalide */
/* .form label .input:invalid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
  color: red;
} */

  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }